<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="MobileAppTestSuite" verbose="1">
    <test name="LoginTests">
        <classes>
            <class name="com.example.ValidLoginTest" />
            <class name="com.example.InvalidLoginTest" />
            <class name="com.example.RetainEnteredValuesTest" />
            <class name="com.example.EmptyLoginButtonStateTest" />
            <class name="com.example.FilledLoginButtonStateTest" />
            <class name="com.example.ForgotPasswordRedirectTest" />
            <class name="com.example.PasswordRecoveryTest" />
            <class name="com.example.PaginationTest" />
            <class name="com.example.PasswordStrengthValidationTest" />
        </classes>
    </test>
</suite>
